<app-stats-card></app-stats-card>

<!-- <section class="my-5">
    <div class="card card-cascade narrower">
        <section class="container mb-4">
            <app-table2 [shadows]="false"></app-table2>
        </section>
    </div>
</section>

<section class="mb-3">
    <div class="row">
        <div class="col-lg-4 col-md-12 my-5">
            <panel header="Things to improve">
                <mdb-card-body class="text-center">
                    <div class="list-group list-panel">
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo
                            odio <mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix" placement="top">
                            </mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac
                            facilisi<mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix"
                                placement="top"></mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo
                            risus <mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix" placement="top">
                            </mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac
                            consectet<mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix"
                                placement="top"></mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at
                            eros <mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix" placement="top">
                            </mdb-icon></a>
                    </div>
                </mdb-card-body>
            </panel>
        </div>

        <div class="col-lg-4 col-md-6 my-5">
            <panel header="Users activity">
                <mdb-card-body class="text-center">

                    <div class="list-group list-panel">
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo
                            odio <mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix" placement="top">
                            </mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac
                            facilisi<mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix"
                                placement="top"></mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo
                            risus <mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix" placement="top">
                            </mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac
                            consectet<mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix"
                                placement="top"></mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at
                            eros <mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix" placement="top">
                            </mdb-icon></a>
                    </div>

                </mdb-card-body>

            </panel>

        </div>

        <div class="col-lg-4 col-md-6 my-5">
            <panel header="Statistics">
                <mdb-card-body class="text-center">

                    <div class="list-group list-panel">
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Cras justo
                            odio <mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix" placement="top">
                            </mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus ac
                            facilisi<mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix"
                                placement="top"></mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Morbi leo
                            risus <mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix" placement="top">
                            </mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Porta ac
                            consectet<mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix"
                                placement="top"></mdb-icon></a>
                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum at
                            eros <mdb-icon fas icon="wrench" class="ml-auto" mdbTooltip="Click to fix" placement="top">
                            </mdb-icon></a>
                    </div>

                </mdb-card-body>
            </panel>
        </div>
    </div>

</section> -->