<form [formGroup]="outgoingSwiftMessageEditForm">

    <!--Top Table UI -->
    <mdb-card cascade="true" narrower="true" [ngClass]="{ 'z-depth-0': !shadows }" class="mt-3 mb-5">
        <!--Card image-->
        <div
            class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
            <span class="white-text mx-3">Authorization Details - MT: {{messageName}}</span>
        </div>
        <!--/Card image-->
        <div class="px-4">
            <div class="table-wrapper table-editable">
                <div class="d-flex justify-content-center mb-3" *ngIf="modalLoading">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <div class="d-flex my-1">
                    <div class="mr-auto p-2">
                        <button mdbBtn color="default" size="sm" mdbWavesEffect (click)="backToAuthorizationPage()">
                            <mdb-icon fas icon="arrow-left" class="me-2"></mdb-icon> Back
                        </button>
                    </div>

                    <div class="p-2">
                        <button mdbBtn type="button" size="sm" color="warning" mdbWavesEffect (click)="print()">
                            <mdb-icon fas icon="print" class="mr-1"></mdb-icon>Print Preview
                        </button>
                    </div>
                </div>

                <!--Table-->
                <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true"
                    class="table-bordered table-responsive-md z-depth-1 text-center" small="true">
                    <thead class="sticky-top">
                        <tr>
                            <th>Srl.</th>
                            <th>Field</th>
                            <th>CBS Message</th>
                            <th>Swift Message</th>
                        </tr>
                    </thead>

                    <tbody #row>
                        <tr *ngFor="let el of elements; let i = index">
                            <td class="text-center">
                                {{i+1}}
                            </td>
                            <td class="text-left">
                                {{el.promts}}
                            </td>
                            <td class="text-left">
                                <pre>{{el.cbsValue}}</pre>
                            </td>
                            <td class="text-left" *ngIf="el.cbsValue == el.swiftValue">
                                <pre>{{el.swiftValue}}</pre>
                            </td>
                            <td class="text-left red lighten-4" *ngIf="el.cbsValue != el.swiftValue">
                                <pre>{{el.swiftValue}}</pre>
                            </td>

                        </tr>
                    </tbody>

                </table>
                <!--Table-->
                <div class="d-flex my-2">
                    <div class="mr-auto p-2">
                        <button mdbBtn color="default" size="sm" mdbWavesEffect (click)="backToAuthorizationPage()">
                            <mdb-icon fas icon="arrow-left" class="me-2"></mdb-icon> Back
                        </button>
                    </div>

                    <div class="p-2">
                        <button mdbBtn type="button" size="sm" color="warning" mdbWavesEffect (click)="print()">
                            <mdb-icon fas icon="print" class="mr-1"></mdb-icon>Print Preview
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </mdb-card>

</form>