@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }

.progress-bar, .progress {
  height: 20px !important;
}

// .progressBar {
//   height: 20px !important;
// }


.tooltip-inner { 
  width: desired-value;
  background-color: red;
  color: blue; 
}

#popTemplate{ 
  background: bisque !important;
}