<form [formGroup]="outgoingSwiftMessageForm">
    <!--Top Table UI --------------------//////////////////-------------->

    <mdb-card cascade="true" narrower="true" [ngClass]="{ 'z-depth-0': !shadows }" class="mt-3 mb-5">
        <!--Card image-->
        <div
            class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
            <span href="" class="white-text mx-3" size="sm">Outgoing Pending Message</span>
        </div>
        <!--/Card image-->

        <div class="px-4">
            <div class="table-wrapper">
                <div class="row mt-0" *ngIf="modalLoading == false">
                    <div class="col-md-6 mx-auto">
                        <div class="md-form">
                            <input type="text" class="form-control" (keydown.enter)="prevent($event)"
                                [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input" mdbInput
                                [ngModelOptions]="{standalone: true}">
                            <label for="search-input">Search</label>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <div class="md-form">
                            <mdb-select [filterEnabled]="true" [options]="messageTypeSelect" label="Search by MT:"
                                formControlName="messageType" placeholder="Choose your option"
                                (selected)="searchByMT()">
                            </mdb-select>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center mb-3" *ngIf="modalLoading">
                    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <!--Table-->
                <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true"
                    class="table-bordered table-responsive-md z-depth-1 text-center" small="true">
                    <thead class="sticky-top black white-text">
                        <tr>
                            <th [mdbTableSort]="elements" sortBy="serialNo" scope="col">Srl
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th>
                            <!-- <th [mdbTableSort]="elements" sortBy="senderBic" scope="col">Sender
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th> -->
                            <th [mdbTableSort]="elements" sortBy="messageType" scope="col">MT
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th>
                            <th [mdbTableSort]="elements" sortBy="dateTime" scope="col">Date
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th>
                            <th [mdbTableSort]="elements" sortBy="senderBank" scope="col">Sender Name
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th>

                            <!-- <th [mdbTableSort]="elements" sortBy="recieverBic" scope="col">Receiver
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th> -->
                            <th [mdbTableSort]="elements" sortBy="reciverBank" scope="col">Receiver Name
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th>
                            <th [mdbTableSort]="elements" sortBy="referenceNo" scope="col">Reference
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th>
                            <th [mdbTableSort]="elements" sortBy="continental" scope="col">Continent
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th>
                            <!-- <th [mdbTableSort]="elements" sortBy="status">Status
                                <mdb-icon fas icon="sort"></mdb-icon>
                            </th> -->
                            <th>Action
                            </th>
                        </tr>
                    </thead>


                    <tbody #row>
                        <tr *ngFor="let el of elements; let i = index">
                            <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                                scope="row">
                                {{i+1}}
                            </th>
                            <!-- <td class="text-left"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                {{el.senderBic}}
                            </td> -->
                            <td class="text-left"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                {{el.messageType}}
                            </td>
                            <td class="text-left"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                {{el.dateTime}}
                            </td>
                            <td class="text-left"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                {{el.senderBank}}
                            </td>

                            <!-- <td class="text-left"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                {{el.recieverBic}}
                            </td> -->
                            <td class="text-left"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                {{el.reciverBank}}
                            </td>
                            <td class="text-center"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                {{el.referenceNo}}
                            </td>

                            <td class="text-center"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                {{el.continental}}
                            </td>
                            <!-- <td class="text-left"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                {{el.status}}
                            </td> -->
                            <td class="text-center"
                                *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                <button mdbBtn color="blue" size="sm" rounded="true" mdbWavesEffect
                                    (click)="goOutgoingSwiftMessageEdit(el.documentNo, el.messageType, el.messageName)">View</button>
                            </td>
                        </tr>
                    </tbody>



                    <tfoot class="grey lighten-5 w-100">
                        <tr>
                            <td colspan="11">
                                <mdb-table-pagination [tableEl]="tableEl" paginationAlign=""
                                    [searchDataSource]="elements">
                                </mdb-table-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!--Table-->


                <div class="d-flex flex-row my-2">
                    <button class="p-2" mdbBtn color="default" size="sm" mdbWavesEffect (click)="backToDashboard()">
                        <mdb-icon fas icon="arrow-left" class="me-2"></mdb-icon> Back
                    </button>
                </div>


                <!-- <div class="d-flex justify-content-center my-2">
                    <button mdbBtn color="primary" size="sm" mdbWavesEffect (click)="submitCbsMessageData()">
                        Submit <mdb-icon fas icon="paper-plane" class="me-2"></mdb-icon>
                    </button>
                </div> -->

            </div>
        </div>
    </mdb-card>

</form>