<form [formGroup]="statsCardForm">

    <section class="my-2">

        <div class="row">
            <div class="col-xl-4 col-md-6 my-4">
                <mdb-card cascade="true" class="cascading-admin-card">
                    <a class="admin-up" routerLink="/dashboards/task-dashboard" routerLinkActive="active" type="submit">
                        <mdb-icon fas icon="door-open" class="blue-grey"></mdb-icon>
                        <div class="data">
                            <p style="color: rgb(95, 108, 114);">OPEN</p>
                            <h4><strong>{{totalOpenTask}}</strong></h4>
                        </div>
                    </a>

                    <mdb-card-body [cascade]="true">
                        <table mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
                            <tr *ngFor="let el2 of elements">
                                <td *ngIf="el2.taskStatusId == '1'" class="text-left" style="font-size: 11pt;">
                                    <a type="button" (click)="editRow(el2)">
                                        <mdb-icon fas icon="square" size="sm" style="color: rgb(108, 117, 126);">
                                        </mdb-icon>
                                        <span style="color: rgb(3, 94, 185);" class="me-2"> {{el2.taskDetails}}</span>
                                    </a>
                                    <hr />
                                </td>
                            </tr>
                        </table>
                    </mdb-card-body>
                </mdb-card>

            </div>

            <div class="col-xl-4 col-md-6 my-4">
                <mdb-card cascade="true" class="cascading-admin-card">
                    <a class="admin-up" routerLink="/dashboards/task-dashboard" routerLinkActive="active" type="submit">
                        <mdb-icon fab icon="codepen" class="warning-color"></mdb-icon>
                        <div class="data">
                            <p class="text-warning">PENDING</p>
                            <h4><strong>{{totalPendingTask}}</strong></h4>
                        </div>
                    </a>

                    <mdb-card-body cascade="true">
                        <table mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
                            <tr *ngFor="let el2 of elements">
                                <td *ngIf="el2.taskStatusId == '2'" class="text-left" style="font-size: 11pt;">
                                    <a type="button" (click)="editRow(el2)">
                                        <mdb-icon fas icon="square" size="sm" style="color: rgb(250, 123, 3);">
                                        </mdb-icon>
                                        <span style="color: rgb(3, 94, 185);" class="me-2"> {{el2.taskDetails}} </span>
                                    </a>
                                    <hr />
                                </td>
                            </tr>
                        </table>
                    </mdb-card-body>
                </mdb-card>

            </div>

            <div class="col-xl-4 col-md-6 my-4">
                <mdb-card cascade="true" class="cascading-admin-card">
                    <a class="admin-up" routerLink="/dashboards/task-dashboard" routerLinkActive="active" type="submit">
                        <mdb-icon fas icon="cogs" class="light-blue lighten-1"></mdb-icon>
                        <div class="data">
                            <p class="text-primary">IN-PROGRESS</p>
                            <h4><strong>{{totalInProgressTask}}</strong></h4>
                        </div>
                    </a>

                    <mdb-card-body cascade="true">
                        <table mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
                            <tr *ngFor="let el2 of elements">
                                <td *ngIf="el2.taskStatusId == '3'" class="text-left" style="font-size: 11pt;">
                                    <a type="button" (click)="editRow(el2)">
                                        <mdb-icon fas icon="square" size="sm" style="color: rgb(11, 178, 255);">
                                        </mdb-icon>
                                        <span style="color: rgb(3, 94, 185);" class="me-2"> {{el2.taskDetails}} </span>
                                    </a>
                                    <hr />
                                </td>
                            </tr>
                        </table>
                    </mdb-card-body>

                </mdb-card>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 my-4">
                <mdb-card cascade="true" class="cascading-admin-card">
                    <a class="admin-up" routerLink="/dashboards/task-dashboard" routerLinkActive="active" type="submit">
                        <mdb-icon fas icon="check-circle" class="success-color"></mdb-icon>
                        <div class="data">
                            <p class="text-success">COMPLETED</p>
                            <h4><strong>{{totalCompletedTask}}</strong></h4>
                        </div>
                    </a>
                    <mdb-card-body [cascade]="true">
                        <table mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
                            <tr *ngFor="let el2 of elements">
                                <td *ngIf="el2.taskStatusId == '4'" class="text-left" style="font-size: 11pt;">
                                    <a type="button" (click)="editRow(el2)">
                                        <mdb-icon fas icon="square" size="sm" style="color: rgb(21, 255, 52);">
                                        </mdb-icon>
                                        <span style="color: rgb(3, 94, 185);" class="me-2"> {{el2.taskDetails}} </span>
                                    </a>
                                    <hr />
                                </td>
                            </tr>
                        </table>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="col-xl-4 col-md-6 my-4">
                <mdb-card cascade="true" class="cascading-admin-card">
                    <a class="admin-up" routerLink="/dashboards/task-dashboard" routerLinkActive="active" type="submit">
                        <mdb-icon fab icon="rev" class="purple"></mdb-icon>
                        <div class="data">
                            <p style="color: rgb(199, 6, 238);">IN-REVIEW</p>
                            <h4><strong>{{totalInReviewTask}}</strong></h4>
                        </div>
                    </a>

                    <mdb-card-body cascade="true">
                        <table mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
                            <tr *ngFor="let el2 of elements">
                                <td *ngIf="el2.taskStatusId == '5'" class="text-left" style="font-size: 11pt;">
                                    <a type="button" (click)="editRow(el2)">
                                        <mdb-icon fas icon="square" size="sm" style="color: rgb(122, 21, 255);">
                                        </mdb-icon>
                                        <span style="color: rgb(3, 94, 185);" class="me-2"> {{el2.taskDetails}}</span>
                                    </a>
                                    <hr />
                                </td>
                            </tr>
                        </table>
                    </mdb-card-body>
                </mdb-card>

            </div>

            <div class="col-xl-4 col-md-6 my-4">
                <mdb-card cascade="true" class="cascading-admin-card">
                    <a class="admin-up" routerLink="/dashboards/task-dashboard" routerLinkActive="active" type="submit">
                        <mdb-icon fas icon="ban" class="danger-color"></mdb-icon>
                        <div class="data">
                            <p class="text-danger">REJECTED</p>
                            <h4><strong>{{totalRejectedTask}}</strong></h4>
                        </div>
                    </a>

                    <mdb-card-body cascade="true">
                        <table mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
                            <tr *ngFor="let el2 of elements">
                                <td *ngIf="el2.taskStatusId == '6'" class="text-left" style="font-size: 11pt;">
                                    <a type="button" (click)="editRow(el2)">
                                        <mdb-icon fas icon="square" size="sm" style="color: rgb(255, 36, 72);">
                                        </mdb-icon>
                                        <span style="color: rgb(3, 94, 185);" class="me-2"> {{el2.taskDetails}} </span>
                                    </a>
                                    <hr />
                                </td>
                            </tr>
                        </table>
                    </mdb-card-body>

                </mdb-card>
            </div>

        </div>

    </section>

    <section>
        <mdb-card cascade="true" narrower="true" [ngClass]="{ 'z-depth-0': !shadows }" class="mt-5 mb-5">
            <div
                class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
                <a href="" class="white-text mx-3" size="sm">All Task User</a>
            </div>

            <div class="px-4">
                <div class="table-wrapper">
                    <div class="row mt-0">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="md-form">
                                <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()"
                                    id="search-input" mdbInput [ngModelOptions]="{standalone: true}">
                                <label for="search-input">Search</label>
                            </div>
                        </div>
                        <div class="col-md-1 mx-auto">                           
                        </div>

                    </div>
                    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true"
                        class="table-bordered table-responsive-md z-depth-1 text-center mb-3" small="true"
                        mdbTableScroll scrollX="true" maxWidth="100%">

                        <thead class="sticky-top black white-text">
                            <tr>
                                <th [mdbTableSort]="elements" sortBy="i">Srl
                                </th>
                                <th [mdbTableSort]="elements" sortBy="taskDetails">Task
                                </th>
                                <th [mdbTableSort]="elements" sortBy="assigneeId">Assignee
                                </th>
                                <th [mdbTableSort]="elements" sortBy="priorityId">Priority
                                </th>
                                <th [mdbTableSort]="elements" sortBy="taskStatusId">Status
                                </th>
                                <th [mdbTableSort]="elements" sortBy="assignDate">Assign Date
                                </th>
                                <th [mdbTableSort]="elements" sortBy="dueDate">Due Date
                                </th>
                                <th>Save
                                </th>
                            </tr>
                        </thead>

                        <tbody #row>
                            <tr *ngFor="let el of elements; let i = index">
                                <td class="text-center"
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                                    >
                                    {{i+1}}
                                </td>
                                <td class="text-left"
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                                    >
                                    {{el.taskDetails}}
                                </td>
                                <td class="text-center"
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    <mdb-select [filterEnabled]="true" [options]="allUserListSelect"
                                        [(ngModel)]="el.assignUserId" [ngModelOptions]="{standalone: true }"
                                        placeholder="Select Assignee" disabled>
                                    </mdb-select>
                                </td>
                                <td class="text-center"
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    <mdb-select [filterEnabled]="true" [options]="allPriorityListSelect"
                                        [(ngModel)]="el.priorityId" [ngModelOptions]="{standalone: true }"
                                        placeholder="Select Priority" disabled>
                                    </mdb-select>
                                </td>
                                <td class="text-center"
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    <mdb-select [filterEnabled]="true" [options]="allStatusListSelect"
                                        [(ngModel)]="el.taskStatusId" [ngModelOptions]="{standalone: true }"
                                        placeholder="Select Status" 
                                        (keyup)="changeValue(i, 'taskStatusId',  $event)"
                                        (changed)="updateList(i, 'taskStatusId', $event)">
                                    </mdb-select>
                                </td>

                                <td class="text-left"
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                                   >
                                    {{el.assignDate}}
                                </td>

                                <td class="text-left"
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                                    (keyup)="changeValue(i, 'dueDate',  $event)"
                                    (blur)="updateList(i, 'dueDate', $event)" contenteditable="true">
                                    {{el.dueDate}}
                                </td>

                                <td class="text-center" style="width:2%"
                                    *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                                    <span>
                                        <span type="button" color="info" size="sm" mdbWavesEffect>
                                            <mdb-icon fas icon="save" size="lg" (click)="updateList(i, '', $event)"></mdb-icon>
                                        </span>
                                    </span>
                                </td>                              
                            </tr>
                        </tbody>

                        <tfoot class="grey lighten-5">
                            <tr>
                                <td colspan="13">
                                    <mdb-table-pagination [tableEl]="tableEl" paginationAlign=""
                                        [searchDataSource]="elements">
                                    </mdb-table-pagination>
                                </td>
                            </tr>

                        </tfoot>
                    </table>
                </div>
            </div>
        </mdb-card>
    </section>
</form>